<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Where Innovation Meets Business</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font awesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/blogs.css">
    <style>
      header{
        background:url('assets/blog.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>
{{>navbar}}
    <!-- header -->
    <header style="">
      
      <div class = "banner">
        <div class = "container">
          <h1 class = "banner-title">
            <span>Where Innovation Meets Business</span> 
          </h1>
          <blockquote>Failure is an option here. If things are not failing, you are not innovating enough<br>
            <cite>-Elon Musk</cite>
          </blockquote>
          
          <form>
            <input type = "text" class = "search-input" placeholder="Refine your search">
            <button type = "submit" class = "search-btn">
              <i class = "fas fa-search"></i>
            </button>
          </form>
        </div>
      </div>
    </header>
    <!-- end of header -->

    <!-- design -->
    <section class = "design" id = "design">
      <div class = "container">
        <div class = "title">
          <h2>Recent Business & Innovation</h2>
          <p>recent Business & Innovation on the blog</p>
        </div>

        <div class = "design-content">
          <!-- item -->
          <div class = "design-item">
            <div class = "design-img">
              <img src = "assets/cloud.webp" alt = "">
              <span><i class = "far fa-heart"></i> 22</span>
              <span>Business & Innovation</span>
            </div>
            <div class = "design-title">
              <a href = "#">Cloud Computing</a>
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "design-item">
            <div class = "design-img">
              <img src = "assets/aiml.webp" alt = "">
              <span><i class = "far fa-heart"></i> 22</span>
              <span>Business & Innovation</span>
            </div>
            <div class = "design-title">
              <a href = "#">Artificial Intelligence and Machine Learning</a>
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "design-item">
            <div class = "design-img">
              <img src = "assets/cyber.jpg" alt = "">
              <span><i class = "far fa-heart"></i> 22</span>
              <span>Business & Innovation</span>
            </div>
            <div class = "design-title">
              <a href = "#">Cybersecurity</a>
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "design-item">
            <div class = "design-img">
              <img src = "assets/iot.jpg" alt = "">
              <span><i class = "far fa-heart"></i> 22</span>
              <span>Business & Innovation</span>
            </div>
            <div class = "design-title">
              <a href = "#">Internet of Things (IoT)</a>
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "design-item">
            <div class = "design-img">
              <img src = "assets/5g.jpg" alt = "">
              <span><i class = "far fa-heart"></i> 22</span>
              <span>Business & Innovation</span>
            </div>
            <div class = "design-title">
              <a href = "#">5G Technology</a>
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "design-item">
            <div class = "design-img">
              <img src = "assets/edge.jpg" alt = "">
              <span><i class = "far fa-heart"></i> 22</span>
              <span>Business & Innovation</span>
            </div>
            <div class = "design-title">
              <a href = "#">Edge Computing</a>
            </div>
          </div>
          <!-- end of item -->
        </div>
      </div>
    </section>
    <!-- end of design -->


    <!-- blog -->
    <section class = "blog" id = "blog">
      <div class = "container">
        <div class = "title">
          <h2>Latest Blog</h2>
          <p>recent blogs about Business & Innovation</p>
        </div>
        <div class = "blog-content">
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "assets/digital.webp" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            <div class = "blog-text">
              <span></span>
              <h2>Embrace Digital Transformation</h2>
              <p> The digital revolution continues to reshape industries across the globe. Whether it's adopting cloud-based technologies....</p>
              <a href = "#">Read More</a>
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "assets/innov.avif" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            <div class = "blog-text">
              <span></span>
              <h2>Foster a Culture of Innovation</h2>
              <p>Innovation thrives in environments where creativity is encouraged, and failure is viewed as a learning opportunity.....</p>
              <a href = "#">Read More</a>
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "assets/prior.avif" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            <div class = "blog-text">
              <span></span>
              <h2>Prioritize Customer-Centricity</h2>
              <p>In an age of heightened customer expectations, putting the customer at the center of everything you do is essential. Leverage technology to gather insights into customer preferences and behavior, and use that data to tailor products, services, and experiences to meet their needs....</p>
              <a href = "#">Read More</a>
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          
      
        </div>
      </div>
    </section>
    <!-- end of blog -->

    <!-- about -->
    <section class = "about" id = "about">
      <div class = "container">
        <div class = "about-content">
          <div>
            <img src = "assets/vaish.jpg" alt = "">
          </div>
          <div class = "about-text">
            <div class = "title">
              <h2>Vaishnavi Iti</h2>
              <p>Being creative is my passion</p>
            </div>
            <p></p>
            <p>
              Role: Frontend Developer,
              
              Vaishnavi brings creativity and technical expertise to the team. With a keen eye for design and a passion for coding, she ensures our website is visually stunning and user-friendly. Vaishnavi excels in HTML, CSS, and JavaScript, always pushing the boundaries to deliver an exceptional user experience.</p>
          </div>
          <div>
            <img src = "assets/praj.jpg" alt = "">
          </div>
          <div class = "about-text">
            <div class = "title">
              <h2>Prajakta Khot</h2>
              <p>Being creative is my passion</p>
            </div>
            
            <p>
              Role: Frontend Developer,
              
              Prajakta brings creativity and technical expertise to the team. With a keen eye for design and a passion for coding, she ensures our website is visually stunning and user-friendly. Prajakta excels in HTML, CSS, and JavaScript, always pushing the boundaries to deliver an exceptional user experience.</p>
          </div>
          <div>
            <img src = "assets/hey.jpg" alt = "">
          </div>
          <div class = "about-text">
            <div class = "title">
              <h2>Manjunath Khot</h2>
              <p>Being creative is my passion</p>
            </div>
            <p></p>
            <p>
              Role: Frontend Developer,
              
              Manjunath brings creativity and technical expertise to the team. With a keen eye for design and a passion for coding, she ensures our website is visually stunning and user-friendly. Manjunath excels in HTML, CSS, and JavaScript, always pushing the boundaries to deliver an exceptional user experience.</p>
              <br>
          </div>
          <div>
            <img src = "assets/vnk.jpg" alt = "">
          </div>
          <div class = "about-text">
            <div class = "title">
              <h2>Vinayak Gidd</h2>
              <p>Being creative is my passion</p>
            </div>
            <p></p>
            <p>
              Role: Backend Developer,
              
              Vinayak is the backbone of our technical team. With deep expertise in server-side technologies and databases, he ensures our applications run smoothly and securely. Proficient in languages like nodejs,mongo, Vinayak’s work is integral to delivering reliable and efficient backend solutions.</p>
          </div>
          <div>
            <img src = "assets/snk.jpg" alt = "">
          </div>
          <div class = "about-text">
            <div class = "title">
              <h2>Sanketa Kumbar</h2>
              <p>Being creative is my passion</p>
            </div>
            <p></p>
            <p>
              Role: Backend Developer,
              
              Sanketa is the backbone of our technical team. With deep expertise in server-side technologies and databases, he ensures our applications run smoothly and securely. Proficient in languages like nodejs,mongo, Sanketa’s work is integral to delivering reliable and efficient backend solutions.</p>
          </div>

        </div>
      </div>
    </section>
    <!-- end of about -->
    <!-- footer -->
    <footer>
      <div class = "social-links">
        <a href = "https://www.facebook.com/login/" target="_blank"><i class = "fab fa-facebook-f"></i></a>
        <a href = "https://x.com/i/flow/login" target="_blank"><i class = "fab fa-twitter"></i></a>
        <a href = "https://www.instagram.com/" target="_blank"><i class = "fab fa-instagram"></i></a>
        <a href = "https://in.pinterest.com/login/" target="_blank"><i class = "fab fa-pinterest"></i></a>
      </div>
      <span>©2024 Azayd IT Consulting Services. All rights reserved</span>
    </footer>
    <!-- end of footer -->


  </body>
</html>